@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');


.App {
  text-align: center;
  font-family: 'Urbanist', sans-serif ;
}

.header {
  margin-bottom: 3rem;
}


.content {
  display: flex;
  justify-content:space-around;
}