@import url('https://fonts.googleapis.com/css2?family=Urbanist&display=swap');


.App {
  text-align: center;
  font-family: 'Urbanist', sans-serif ;
}

.header {
  margin-bottom: 3rem;
  margin-top: -1rem;
}

.headerName {
  color: #a21a24;
  font-weight: 700;
  font-size: 3rem;
}
.content {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.finished_content {
  margin-left:20rem;
  margin-right:20rem;
}

.new_content {
  margin-left:20rem;
  margin-right:20rem;
}